.place__image {
  max-width: 460px;
  margin-right: 40px;
}

@media screen and (max-width: 1200px) {
  .place__image {
    max-width: 440px;
    margin-right: 32px;
 }
}

@media screen and (max-width: 1000px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
    margin-right: 28px;
 }
}

@media screen and (max-width: 760px) {
  .place__image {
    max-width: 320px;
    margin: 0;
    align-self: center;
    margin-bottom: 32px;
 }
}
