.lead__title {
  display: flex;
  max-width: 720px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  align-self: center;
  margin-bottom: 32px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}
