.cover {
  box-sizing: border-box;
  padding-top: 92px;
  padding-right: 48px;
  padding-bottom: 0px;
  padding-left: 48px;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding-top: 90px;
  }
}
