.lead__capiton {
  margin: 0;
  max-width: 100%;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: #ffffff;
  margin-top: 8px;
  text-transform: uppercase;
  align-self: start;
}

@media screen and (max-width: 1023px) {
  .lead__capiton {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__capiton {
    padding-left: 16px;
  }
}
