.lead__capiton {
  margin: 0;
  width:100%;
  text-align: left;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.0938rem;
  color: #ffffff;
  text-align: left;
  padding: 8px 0 0 0;
  text-transform: uppercase;
}
