.place {
  padding-bottom: 80px;
}


.place:last-of-type {
  padding-bottom: 0px;
}

@media screen and (max-width: 1000px) {
  .place {
  padding-bottom: 73px;
  }
}

@media screen and (max-width: 760px) {
  .place {
  padding-bottom: 50px;
  }
}
